
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilenavbar2_10 */
.CarePass_BodyMeasurements_mobilenavbar2_10 {

}
.CarePass_BodyMeasurements_mobilenavbar2_10 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .CarePass_BodyMeasurements_mobilenavbar2_10 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .CarePass_BodyMeasurements_mobilenavbar2_10 ul li:last-child a {
	margin-right: -1px !important;
}
.CarePass_BodyMeasurements_mobilenavbar2_10 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* mobilecontainer */
.ui-content.CarePass_BodyMeasurements_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilecollapsblock1_24 */
.CarePass_BodyMeasurements_mobilecollapsblock1_24 {
	margin: 0px 0px 10px 0px;
}
.CarePass_BodyMeasurements_mobilecollapsblock1_24 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* ExternalMeasurements */
.ui-page .CarePass_BodyMeasurements_ExternalMeasurements {
	margin: 0px 0px 0px 0px;
}
/* mobilelistitem1_31 */
/* mobilelistitembtn1_32 */
.CarePass_BodyMeasurements_mobilelistitembtn1_32 {

}
/* mobilelistitem1_33 */
/* mobilelistitembtn1_34 */
.CarePass_BodyMeasurements_mobilelistitembtn1_34 {

}
/* mobilelistitem1_35 */
/* mobilelistitembtn1_36 */
.CarePass_BodyMeasurements_mobilelistitembtn1_36 {

}
/* mobilelistitem1_37 */
/* mobilelistitembtn1_38 */
.CarePass_BodyMeasurements_mobilelistitembtn1_38 {

}
/* mobilelistitem1_39 */
/* mobilelistitembtn1_40 */
.CarePass_BodyMeasurements_mobilelistitembtn1_40 {

}
/* mobilelistitem1_41 */
/* mobilelistitembtn1_42 */
.CarePass_BodyMeasurements_mobilelistitembtn1_42 {

}
/* mobilelistitem1_43 */
/* mobilelistitembtn1_44 */
.CarePass_BodyMeasurements_mobilelistitembtn1_44 {

}
/* mobilelistitem1_45 */
/* mobilelistitembtn1_46 */
.CarePass_BodyMeasurements_mobilelistitembtn1_46 {

}
/* mobilelistitem1_47 */
/* mobilelistitembtn1_48 */
.CarePass_BodyMeasurements_mobilelistitembtn1_48 {

}
/* mobilelistitem1_49 */
/* mobilelistitembtn1_50 */
.CarePass_BodyMeasurements_mobilelistitembtn1_50 {

}
/* mobilecollapsblock1_27 */
.CarePass_BodyMeasurements_mobilecollapsblock1_27 {
	margin: 0px 0px 10px 0px;
}
.CarePass_BodyMeasurements_mobilecollapsblock1_27 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* InternalMeasurements */
.ui-page .CarePass_BodyMeasurements_InternalMeasurements {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem1_52 */
/* mobilelistitembtn1_53 */
.CarePass_BodyMeasurements_mobilelistitembtn1_53 {

}
/* mobilelistitem1_54 */
/* mobilelistitembtn1_55 */
.CarePass_BodyMeasurements_mobilelistitembtn1_55 {

}
/* mobilelistitem1_56 */
/* mobilelistitembtn1_57 */
.CarePass_BodyMeasurements_mobilelistitembtn1_57 {

}
/* mobilelistitem1_58 */
/* mobilelistitembtn1_59 */
.CarePass_BodyMeasurements_mobilelistitembtn1_59 {

}
/* mobilelistitem1_60 */
/* mobilelistitembtn1_61 */
.CarePass_BodyMeasurements_mobilelistitembtn1_61 {

}
/* mobilelistitem1_62 */
/* mobilelistitembtn1_63 */
.CarePass_BodyMeasurements_mobilelistitembtn1_63 {

}
/* mobilelistitem1_64 */
/* mobilelistitembtn1_65 */
.CarePass_BodyMeasurements_mobilelistitembtn1_65 {

}
/* mobilelistitem1_66 */
/* mobilelistitembtn1_67 */
.CarePass_BodyMeasurements_mobilelistitembtn1_67 {

}
/* mobilelistitem1_68 */
/* mobilelistitembtn1_69 */
.CarePass_BodyMeasurements_mobilelistitembtn1_69 {

}
/* mobilelistitem1_70 */
/* mobilelistitembtn1_71 */
.CarePass_BodyMeasurements_mobilelistitembtn1_71 {

}
/* mobilelistitem1_72 */
/* mobilelistitembtn1_73 */
.CarePass_BodyMeasurements_mobilelistitembtn1_73 {

}
/* mobilelistitem1_74 */
/* mobilelistitembtn1_75 */
.CarePass_BodyMeasurements_mobilelistitembtn1_75 {

}
/* mobilelistitem1_76 */
/* mobilelistitembtn1_77 */
.CarePass_BodyMeasurements_mobilelistitembtn1_77 {

}
/* mobilefooter1 */
.CarePass_BodyMeasurements_mobilefooter1 {
	min-height:38px;
}
/* mobilenavbar2_6 */
.CarePass_BodyMeasurements_mobilenavbar2_6 {

}
.CarePass_BodyMeasurements_mobilenavbar2_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .CarePass_BodyMeasurements_mobilenavbar2_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .CarePass_BodyMeasurements_mobilenavbar2_6 ul li:last-child a {
	margin-right: -1px !important;
}
.CarePass_BodyMeasurements_mobilenavbar2_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}